@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.inline {
  display: inline-block;
}

.nav {
  font-weight: 700;
  justify-content: space-between;
}
.mono {
  font-family: "Roboto", sans-serif;
}
