.card {
  width: 15vw;
  height: 15vw;
  background-color: rgba(145, 145, 145, 0.514);

  border-radius: 50%;
}

.img {
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 868px) {
  @media only screen and (max-aspect-ratio: 4/3) {
    .card {
      width: 15vh;
      height: 15vh;
    }
  }
}
