* {
  color: white;
}

body {
  overflow: hidden;
}

nav {
  box-sizing: border-box;

  padding: 0 1vw 0 1vw;
  width: 100vw;
  height: 8vh;

  background: rgba(0, 0, 0, 0.9);
  opacity: 0.8;
}

h1 {
  font-size: clamp(1.5rem, 5vmin, 4rem);
}
h2 {
  font-size: clamp(1.4rem, 4vmin, 3rem);
}
h3 {
  font-size: clamp(1.3rem, 3vmin, 2.4rem);
}
p {
  font-size: 1rem;
}

.main {
  width: 100vw;
  height: 87vh;
}

.footer {
  height: 5vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
