body {
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background-color: black;
  color: white;
  font-size: 4rem;
}

.main {
  width: 100vw;
  height: 85vh;
}

.footer {
  height: 5vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
