.grid {
  display: grid;
  grid-template: 1fr 1fr / repeat(5, 1fr);
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;
}

@media only screen and (max-width: 868px) {
  @media only screen and (max-aspect-ratio: 4/3) {
    .grid {
      grid-template: repeat(5, 1fr) / 1fr 1fr;
      grid-row-gap: 3vmin;
      grid-column-gap: 10vmin;
    }
  }
}
